body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    height: 80px; /* header 높이 설정 */
    background-color: #D9D9D9; /* 필요하면 배경색 설정 */
}
#logo img {
    margin-top: 10px;
    margin-left: 30px;
    width: 180px;
}
.container {
    display: flex;
}