/* styles.css */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}
#bg{
    position: relative;
}
.login-container {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 400px;
    height: 450px;
    margin-left: 720px;
    margin-top: -850px;
    position: absolute;
}
.logo{
    width: 400px;
    /* height: 100px; */
    border-bottom: 1px solid #F1F1F1;
}
#logo {
    width: 200px;
    margin-left: -40px;
    margin: 15px auto; /* 위-아래는 10px, 좌우는 auto로 중앙 정렬 */
    display: block;    /* 중앙 정렬을 위해 block 요소로 설정 */
    
}
#username{
    width: 245px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 45px;
    background-color: #F6F6F6;  
    margin: 40px auto; /* 위-아래 여백 10px, 좌우 중앙 정렬 */
    display: block;    /* block 요소로 설정 */
    
}
#user_icon{
    margin-top: -73px;
    margin-right: 240px;
    font-size: 18px;
    color: #838383;
}
#password {
    width: 245px;
    height: 45px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 45px;
    background-color: #F6F6F6;  
    margin: 30px auto; /* 위-아래 여백 10px, 좌우 중앙 정렬 */
    display: block;    /* block 요소로 설정 */
}
#lock_lock{
    margin-top: -63px;
    margin-right: 240px;
    font-size: 18px;
    color: #838383;
}
.options {
    text-align: left;
    margin-bottom: 15px;
    margin-left: 323px;
    font-size: 12px;
    color: #555;
    margin-top: 38px;
}
#check_box{
    margin-left: -65px;
    margin-top: -5px;
    border-radius: 0%;
}
#id_save{
    font-size: 14px;
    margin-top: -23px;
    margin-left: -43px;
}
.login-button {
    width: 150px;
    height: 50px;
    background-color: #006400;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    margin: 20px auto; /* 위-아래는 10px, 좌우는 auto로 중앙 정렬 */
    display: block;    /* 중앙 정렬을 위해 block 요소로 설정 */
    text-align: center;
}

.login-button:hover {
    background-color: #004d00;
}

.login-button:hover {
    background-color: #004d00;
    cursor: pointer;
}

.links {
    margin-top: 20px;
    font-size: 12px;
}

.links a {
    color: #cccccc;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}